/* Base styles + Light mode: Dark text with white shine */
.shiny-text {
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 1) 35%,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 0, 0, 1) 65%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: shine 5s linear infinite;
  overflow: visible;
  line-height: 1.3;
}

/* Dark mode: Light gray text with white shine */
html.dark .shiny-text {
  background: linear-gradient(
    120deg,
    rgba(181, 181, 181, 0.64) 40%,
    rgba(255, 255, 255, 1) 50%,
    rgba(181, 181, 181, 0.64) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
